$font-main: 'Open Sans', arial, sans-serif;
$font-second: gilroy, arial, sans-serif;
//
$color-main: #f7e296;
$color-main--dark: #f0c52e;
$color-main--darken: #ffc600;
//
$gray--lightest: #efefef;
$gray--lighten: #ebebeb;
$gray--light: #e5e5e5;
$gray: gainsboro;
$gray--dark: #d9d9d9;
$gray--darken: #464646;
$gray--darkest: #363636;
