doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title
      | Девайс
    meta(name='viewport', content='width=1200, initial-scale=0')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    link(rel='stylesheet', href='css/style.min.css')
  body
    block content

    script(src='js/concatenated.js')
