.catalog-nav
  button.catalog-nav__prev.catalog-nav__btn(type='button')
    | Назад
  ul.catalog-nav__items
    li.catalog-nav__item
      button.catalog-nav__btn(type='button' disabled)
        | 1
    li.catalog-nav__item
      button.catalog-nav__btn(type='button')
        | 2
    li.catalog-nav__item
      button.catalog-nav__btn(type='button')
        | 3
  button.catalog-nav__next.catalog-nav__btn(type='button')
    | Вперед
