section.popular
  .popular__wrapper
    h2.visually-hidden
      | Популярное
    ul.popular__items
      li.popular__item
        a.popular__link.popular__link--vr(href='#')
          | Виртуальная реальность
      li.popular__item
        a.popular__link.popular__link--monopods(href='#')
          | Моноподы для селфи
      li.popular__item
        a.popular__link.popular__link--action-cameras(href='#')
          | Экшн-камеры
      li.popular__item
        a.popular__link.popular__link--fitness-bracelets(href='#')
          | Фитнес-браслеты
      li.popular__item
        a.popular__link.popular__link--smart-watch(href='#')
          | Умные часы
      li.popular__item
        a.popular__link.popular__link--quadrocopters(href='#')
          | Квадрокоптеры
