.catalog__main {
  display: flex;
}

.catalog__header-wrap {
  @include container;

  margin-bottom: 50px;
  padding-top: 5px;
}

.catalog__header-inner {
  padding: 0 60px;
}

.catalog__title {
  margin-bottom: 25px;

  font-weight: 800;
  font-size: 47px;
  font-family: $font-second;
}

.catalog__left-side {
  flex-grow: 1;

  background-color: #eeeeee; // for old safari
}

.catalog__right-side {
  flex-grow: 1;
}

.catalog__left-col {
  box-sizing: border-box;
  width: 348px;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 80px;
}

.catalog__right-col {
  box-sizing: border-box;
  width: 852px;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 70px;
}

.catalog__filters {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.catalog__filter-type-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 70px;
  padding: 25px 0;

  &--left {
    background-color: $gray;
  }
}

.catalog__filter-type {
  width: 200px;
  margin: 0;

  font-weight: 800;
  font-size: 16px;
  font-family: $font-second;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.catalog__form {
  flex-grow: 1;
  padding-top: 70px;

  background-color: $gray--lightest;
}

.catalog__filters-group {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-bottom: 5px;

  border: none;
}

.catalog__form legend {
  width: 100%;
}

.catalog__filters-title {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 27px;

  font-size: 17px;
  font-family: $font-second;

  border-top: 2px solid black;
}

.catalog__filters-btn {
  display: block; // for old safari
}

.catalog__sort {
  background-color: $gray--lighten;
}

.catalog__sort-items {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;

  list-style: none;

  &--arrows {
    justify-content: flex-end;
  }
}

.catalog__sort-btn {
  margin-right: 30px;
  padding: 0;

  font: inherit;
  font-weight: 400;
  font-size: 14px;
  color: black;

  background-color: transparent;
  border: none;

  span {
    @include visually-hidden;
  }

  &:enabled {
    cursor: pointer;
    opacity: 0.3;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.6;
    }

    &:active {
      opacity: 1;
    }
  }

  &--arrow {
    width: 0;
    height: 0;
    margin: 0;
    margin-left: 20px;
    padding: 0;

    border-width: 11px 5.5px 0 5.5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: black;

    &:enabled {
      opacity: 0.2;

      &:hover,
      &:focus {
        opacity: 0.4;
      }

      &:active {
        opacity: 1;
      }
    }

    &:disabled {
      border-top-color: black;
    }
  }

  &--up {
    transform: rotate(180deg);
  }
}

.catalog__content {
  padding: 70px 0;
}

.catalog__items {
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  margin-right: 40px;
  margin-bottom: 50px;

  &:nth-child(2n) {
    margin-right: 0;
  }
}
