.brands {
  margin: 50px 0;
}

.brands__wrapper {
  @include container;
}

.brand__items {
  display: flex;
  flex-wrap: wrap;
}

.brand__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-height: 100px;
  margin-right: 20px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  img {
    display: block;
    width: 260px;
    height: 100px;

    opacity: 0.2;
    filter: grayscale(1);
  }
}
