.catalog-nav {
  display: flex;
  justify-content: space-between;

  background-color: $gray--lightest;
}

.catalog-nav__items {
  @include list-reset;
}

.catalog-nav__btn {
  padding: 25px 15px;

  font-weight: 800;
  font-size: 16px;
  font-family: $font-second;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: $gray--lightest;
  border: none;

  &:enabled {
    color: rgba(black, 0.3);

    &:hover,
    &:focus {
      color: rgba(black, 0.6);

      outline: none;
      cursor: pointer;
    }

    &:active {
      color: black;
    }
  }

  &:disabled {
    color: black;
  }
}

.catalog-nav__prev,
.catalog-nav__next {
  padding-right: 30px;
  padding-left: 30px;

  &:enabled {
    color: black;

    &:hover,
    &:focus {
      background-color: $gray--dark;
    }

    &:active {
      color: rgba(black, 0.3);
    }
  }
}
