.info__wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.info__company,
.info__contacts {
  width: 560px;
}

.info__title {
  position: relative;

  padding-top: 50px;

  font-weight: 800;
  font-size: 47px;
  font-family: $font-second;

  &::before {
    @include line;

    content: '';
    position: absolute;
    top: 0;
    left: 0;

    background-color: black;
  }
}

.info__description {
  margin: 30px 0;

  line-height: 30px;
  color: $gray--darken;
}

.info__items {
  @include list-reset;

  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 55px;
}

.info__item {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-second;

  &::before {
    content: '';
    display: block;

    width: 4px;
    height: 4px;
    margin-right: 25px;

    border: 2px solid $gray--light;
    border-radius: 50%;
  }
}

.info__contacts-map {
  display: block;
  margin: 40px 0;

  img {
    display: block;
    width: 560px;
    height: 222px;

    background-color: $gray--lightest;
  }
}

.info__btn {
  min-width: 260px;
}

.info__feedback-open {
  margin-top: 25px;
}
