.logo {
  display: block;

  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  font-family: $font-second;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.01em;
}
