.map {
  position: relative;
  left: 50%;

  width: 960px;
  margin-left: -480px;

  box-shadow: 0 10px 20px rgba(black, 0.2);
}

.map__container {
  img {
    display: block;
    width: 960px;
    height: 559px;

    background-color: $gray--lightest;
  }
}
