.promo {
  position: relative;
  top: -110px;
}

.promo__wrapper {
  @include container;
}

.slider-promo {
  position: relative;

  min-height: 485px;
}

.slider-promo__item {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  min-height: 485px;

  &--active {
    display: flex;
  }
}

.slider-promo__img-container {
  display: flex;
  flex-shrink: 0;
  width: 580px;

  img {
    margin: auto;
  }
}

.slider-promo__content {
  position: relative;

  box-sizing: border-box;
  width: 580px;
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 20px;
}

.slider-promo__title {
  position: relative;
  z-index: 1;

  margin: 20px 0;
  padding-top: 50px;

  font-weight: 800;
  font-size: 47px;
  font-family: $font-second;

  &::before {
    @include line;

    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;

    background-color: white;
  }
}

.slider-promo__description {
  line-height: 30px;
  color: $gray--darken;
}

.slider-promo__link {
  min-width: 220px;
  margin: 30px 0;
}

.slider-promo__table {
  margin-top: 20px;

  border-collapse: collapse;
  text-align: left;

  td,
  th {
    width: 160px;
    padding: 0;

    text-align: left;

    &:nth-child(2) {
      width: 140px;
    }
  }

  td {
    padding-bottom: 15px;

    font-size: 36px;
    font-family: $font-second;
  }

  th {
    font-weight: inherit;
    font-size: 13px;
  }
}

.slider-promo__slide-number {
  position: absolute;
  top: -15px;
  right: 50px;

  margin: 0;

  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  font-family: $font-second;
  color: white;
}

.slider__controls {
  position: absolute;
  top: 323px;
  right: 80px;
}

.slider-promo__controls-item {
  width: 12px;
  height: 12px;
  margin-left: 20px;
  padding: 0;

  background: none;
  background-image: url('../img/slider-button-empty.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border: none;
  cursor: pointer;

  &:disabled {
    background-image: url('../img/slider-button.svg');
  }

  span {
    @include visually-hidden;
  }
}
