.range-filter {
  padding-bottom: 15px;
}

.range-filter__range-controls {
  position: relative;

  height: 25px;
  margin-bottom: 0;
  overflow: hidden;
}

.range-filter__scale {
  height: 2px;
  margin-top: 10px;

  background-color: #d7dcde;
}

.range-filter__bar {
  height: 2px;

  background-color: #91c92f;
}

.range-filter__toggle {
  position: absolute;
  top: 0;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px #cccdcd;
  cursor: pointer;
}

.range-filter__min-toggle {
  left: 0;
}

.range-filter__max-toggle {
  left: 135px;
}

.range-filter__price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-family: $font-second;
  text-transform: lowercase;

  opacity: 0.2;

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 0;

    font: inherit;
    text-align: center;

    background: none;
    border: none;
    border-radius: 3px;
  }
}

.range-filter__price {
  display: inline-flex;
}
